:root {
    --myblack: #1f2937;
    --mylightgrey: #e5e7eb;
    --myblue: #3882f6;
    --mywhite: #f9faf8;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

header, hero {
    background-color: var(--myblack);
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 0 15%;
}

.logo {
    color: var(--mywhite);
    font-size: 24px;
    font-weight: 700;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li, .hero-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: var(--mylightgrey);
}

hero {
    padding: 100px 15%;
    gap: 50px;
}

.hero-title {
    color: var(--mywhite);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

button.signup {
    background-color: var(--myblue);
    color: var(--mywhite);
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    margin-top: 12px;
}

section.content {
    text-align: center;
    padding: 65px 15%;
}

.content-title {
    font-size: 36px;
    font-weight: 900;
    color: var(--myblack);
    margin-bottom: 40px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid var(--myblue);
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.item p {
    font-size: 16px;
    color: var(--myblack);
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: var(--mylightgrey);
    padding: 50px 25%;
}

.italics {
    font-size: 36px;
    font-weight: 300;
    color: var(--myblack);
    margin-bottom: 0;
}

.author {
    font-size: 16px;
    font-weight: 700;
    align-self: flex-end;
}

.c2a {
    padding: 75px 15%;
}

.box-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--myblue);
    border-radius: 10px;
    padding: 30px 60px;
}

p.action {
    color: var(--mywhite);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

p.details {
    color: var(--mylightgrey);
    margin-top: 0;
}

.c2a-btn {
    background-color: var(--myblue);
    border: 2px solid var(--mywhite);
    border-radius: 5px;
    color: var(--mywhite);
    font-size: 16px;
    padding: 8px 40px;
}

footer {
    background-color: var(--myblack);
}

footer p {
    color: var(--mylightgrey);
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 30px;
}